{% if (root.depth == 0) %}
    <ul class="uk-navbar-nav{{ (options.classes ? ' ' ~ options.classes : '') }}">
{% endif %}

{% for item in root.children %}
    {% set header  = ( item.url == '!header' ) %}
    {% set divider = ( item.url == '!divider' ) %}

    {% set classes = [] %}
    {% set classes = classes | merge([( item.attribute('parent') ? 'uk-parent' : '')]) %}
    {% set classes = classes | merge([( item.attribute('active') ? 'uk-active' : '')]) %}
    {% set classes = classes | merge([( header ? 'uk-nav-header' : '')]) %}
    {% set classes = classes | merge([( divider ? 'uk-nav-divider' : '')]) %}
    {% set classes = classes | join(' ') | trim %}

    <li class="{{ classes }}"{{ ( root.depth == 0 and item.hasChildren ) ? ' data-uk-dropdown' : '' }}>
        {% if ( header) %}
            {{ item }}
        {% elseif ( not divider) %}
            <a href="{{ url(item.url) }}">{{ item }}</a>
        {% endif %}

        {% if ( item.hasChildren and (item.attribute('active') or widget.get('mode', 'all') == 'all' or not root.depth == 0) ) %}
            <div class="uk-dropdown uk-dropdown-navbar">
                <ul class="uk-nav uk-nav-navbar" data-weee>
                    {{ include('extension://twig/src/views/widgets/menu/nav.twig', { 'root': item }) }}
                </ul>
            </div>
        {% endif %}
    </li>
{% endfor %}

{% if ( root.depth == 0) %}
    </ul>
{% endif %}
